__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env
.venv
venv/
data/demo_corpus/
data/raw_papers/
data/processed_chunks/
models/
notebooks/
reranker_model.zip
.DS_Store
training/msmarco_train.json
training/msmarco_hard_negatives.json